{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
	<h1 class="display-4">Inventory Manager</h1>
	<p class="lead">
		Efficiently manage your inventory with our simple yet powerful tool
	</p>
	<hr class="my-4" />
	<div class="text-center">
		<a class="btn btn-primary btn-lg" href="{{ url_for('routes.register') }}"
			>Get Started</a
		>
		<a
			class="btn btn-outline-secondary btn-lg"
			href="{{ url_for('routes.login') }}"
			>Login</a
		>
	</div>
</div>
{% endblock %}
